@import url('./fonts.css');

:root {
    --base-font-family: 'MontserratVariable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    --header-font-family: 'AvenirLTPro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    
    --primary-color: #bcd9ff;                   /* Brand Orange */
    --secondary-color: #000000;                 /* Black */
    --accent-color: #202029;                    /* Darker Orange */
    --background-color: #0f0d13;                /* Dark Background */

    --text-color: var(--primary-color);           /* Default text color */        
    --body-text-color: #d6dce4;                 
    --card-text-color: 
    --heading-text-color: var(--primary-color);          
    --text-hover-color: #FDCC90;                /* Lighter Orange */

    --base-font-family: 'MontserratVariable', sans-serif;
    --base-font-size: 16px;

    --header-height: 96px;
    --header-font-family: 'AvenirLTPro', sans-serif;

    --heading-text-transform: uppercase;
    --button-text-transform: uppercase;
    --body-text-transform: none;

    --page-max-width: 1200px;
    --footer-width: 960px;
}

html, body {
    background: var(--background-color);
    margin: 0;
    min-height: 100%;
    min-width: 100%;

    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: 1.5;
    
    text-transform: var(--body-text-transform);
    color: var(--body-text-color);

}

h1 {
    font-size: 2.75rem;
}



/* List styling */
ul {
    padding-left: 2rem;
    padding-bottom: 0.5rem;

}
ul > li > ul {
    margin-top: 0.4rem; /* Adjust the value as needed */
}
li {
    padding-bottom: 0.75rem;
    font-size: 0.95rem;
    font-weight: 350;
}


/* Link styling */
a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--text-hover-color);
}

li a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}
li a:hover {
    color: var(--text-hover-color);
}
