<footer class="site-footer">
    <div class="footer-container">
      <!-- Left Section: Logo and Site Text -->
      <div id="footer-left" class="footer-section">
        <div class="logo-content">
          <div class="logo-icon">
            <img src="/public/images/site/logo.png" alt="Penentive Logo">
          </div>
          <div class="footer-site-title">Pendentive</div>
        </div>
      </div>
  
      <div class="footer-divider"></div>
  
      <!-- Navigation Links -->
      <div id="footer-nav" class="footer-section">
        <div class="nav-content">
          <ul>
            <li><a href="#assessment">Assessment</a></li>
            <li><a href="#project-intro">Overview</a></li>
            <li><a href="#links">Website Demos</a></li>
            <li><a href="#narratives">Narratives</a></li>
            <li><a href="#details">Details</a></li>
            <li><a href="#future">Future</a></li>
          </ul>
        </div>
      </div>
  
      <div class="footer-divider"></div>
  
      <!-- Right Section: Book Now, Contact Info & Social Icons -->
      <div id="footer-right" class="footer-section">
        <div class="right-content">
  
          <a id="footer-email" class="contact-info" href="mailto:pendentive.info@gmail.com">pendentive.info@gmail.com</a>
          <a id="footer-phone-loc" class="contact-info" href="tel:+7856561958">(785) 656-1958</a>
         
          <div class="social-icons" id="connect">
            <a href="#" class="instagram" title="Instagram"></a>
            <a href="#" class="facebook" title="Facebook"></a>
          </div>
        </div>
      </div>
    </div>

   <!-- Footer Bottom Section -->
   <!-- TODO: Add policy and copyright data -->
    <div class="footer-bottom">
        <!--    
            <p>
                &copy; 2021 Studio Custer &nbsp; | &nbsp;
                <a href="/privacy-policy">Privacy Policy</a> &nbsp; | &nbsp;
                <a href="/copyright-policy">Copyright Policy</a> &nbsp; | &nbsp;
                Website design by CUSTER CREATIVE
            </p>
        -->
    </div>
</footer>
  