<div id="header">
    <div id="header-container">
        <div id="logo">
            <a href="/"><img src="/public/images/site/logo.png" alt="LOGO"></a>
            <a href="/" class="logo-text">Pendentive&nbsp;&nbsp;|&nbsp;&nbsp;Portfolio</a>
        </div>
        <div id="navigation">
            <ul>
                <li><a href="#assessment">Assessment</a></li>
                <li><a href="#project-intro">Overview</a></li>
                <li><a href="#links">Website Demos</a></li>
                <li><a href="#narratives">Narratives</a></li>
                <li><a href="#details">Details</a></li>
                <li><a href="#future">Future</a></li>
            </ul>
        </div>
    </div>
</div>
