<section id="code-review" class="partial-section">
    <div class="container">
        <h1>Code Review</h1>
        <p>Preliminary code review of original artifact.</p>
        <div class="video-container">
            <iframe width="560" 
            height="315" 
            src="https://www.youtube.com/embed/PD4ixnxuAso"
            title="meanFocus Code Review" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen></iframe>
        </div>
    </div>
</section>