<section id="links" class="partial-section">
    <div class="container">
        <h1>Project Links</h1>
        <div class="links-container">
            <div class="link-item">
                <a href="embedded-sites/meanFocus-express/index.html">
                    <img src="embedded-sites/meanFocus-express/express-thumbnail.png" alt="Express Site Thumbnail">
                    <h3>Express Site</h3>
                    <p>Explore the Express version of the project.</p>
                </a>
            </div>
            <div class="link-item">
                <a href="embedded-sites/meanFocus-angular/index.html">
                    <img src="embedded-sites/meanFocus-angular/angular-thumbnail.png" alt="Angular Site Thumbnail">
                    <h3>Angular Site</h3>
                    <p>Explore the Angular version of the project. (Login details if applicable.)</p>
                </a>
            </div>
        </div>
    </div>
</section>