<section id="links" class="partial-section">
    <div class="container">
        <h1>Website Demos</h1>
        <p>Feel free to browse the Express site. The two active links are the landing page and the personal portfolio link in the header. The Angular site, however, is limited to these screens that are available: the login screen, the landing page editing screen, and the portfolio page editing screen. The links will not work, but the display of the web pages is available by clicking through the links.</p>
        <div class="links-container">

            <!-- Express Site Link -->
            <div class="link-item express-link">
                <a href="/embedded-sites/meanFocus-express/Landing Page.html">
                    <img src="/public/images/site/thumbnail-landing.png" alt="Express Landing Page Thumbnail">
                    <h3>Express Site</h3>
                    <p>Explore the Express version of the project.</p>
                </a>
            </div>

            <!-- Angular Site Links -->
            <div class="link-item angular-links">
                <div class="angular-link">
                    <a href="embedded-sites/meanFocus-angular/Login.html">
                        <img src="/public/images/site/thumbnail-ang-login.png" alt="Angular Login Page Thumbnail">
                        <h3>Angular Login</h3>
                    </a>
                </div>
                <div class="angular-link">
                    <a href="/embedded-sites/meanFocus-angular/page-landing.html">
                        <img src="/public/images/site/thumbnail-ang-landing.png" alt="Angular Landing Page Thumbnail">
                        <h3>Angular Landing</h3>
                    </a>
                </div>
                <div class="angular-link">
                    <a href="embedded-sites/meanFocus-angular/page-portfolio.html">
                        <img src="/public/images/site/thumbnail-ang-port.png" alt="Angular Portfolio Page Thumbnail">
                        <h3>Angular Portfolio</h3>
                    </a>
                </div>
            </div>
        </div>

        <!-- Repository Links -->
        <h2>Repository Links:</h2>
        <ul>
            <li>
                <a href="https://github.com/Pendentive/CS-465-FullStackDev/tree/starting-artifact">Starting Artifact</a>
            </li>
            <li>
                <a href="https://github.com/Pendentive/CS-465-FullStackDev/tree/ending-artifact">Ending Artifact</a>
            </li>
            <li>
                <a href="https://codyrcuster.wixsite.com/studiocuster/personal-photography">Migrated Site</a>
            </li>
        </ul>
    </div>
</section>