<section id="links" class="partial-section">
    <div class="container">
        <h1>Website Demos</h1>
        <p>Below are links to captures of the website's user interfaces. While these originate from functional MEAN stack applications, they are presented here as static demonstrations of the UI design and layout. As such, the links do not provide navigational functionality or CSS animations, and image load times are not representative of the native application.</p>
        <div class="links-container">

            <!-- Express Site Link -->
            <div class="link-item express-link">
                <a href="/embedded-sites/meanFocus-express/Landing Page.html">
                    <img src="/public/images/site/thumbnail-landing.png" alt="Express Landing Page Thumbnail">
                    <h3>Express Landing</h3>
                </a>
            </div>
            <div class="link-item express-link">
                <a href="/embedded-sites/meanFocus-express/Personal Portfolio Page.html">
                    <img src="/public/images/site/thumbnail-port.png" alt="Express Portfolio Page Thumbnail">
                    <h3>Express Portfolio</h3>
                </a>
            </div>

            <!-- Angular Site Links -->
            <div class="link-item angular-links">
                <div class="angular-link">
                    <a href="embedded-sites/meanFocus-angular/Login.html">
                        <img src="/public/images/site/thumbnail-ang-login.png" alt="Angular Login Page Thumbnail">
                        <h3>Angular Login</h3>
                    </a>
                </div>
                <div class="angular-link">
                    <a href="/embedded-sites/meanFocus-angular/page-landing.html">
                        <img src="/public/images/site/thumbnail-ang-landing.png" alt="Angular Landing Page Thumbnail">
                        <h3>Angular Landing</h3>
                    </a>
                </div>
                <div class="angular-link">
                    <a href="embedded-sites/meanFocus-angular/page-portfolio.html">
                        <img src="/public/images/site/thumbnail-ang-port.png" alt="Angular Portfolio Page Thumbnail">
                        <h3>Angular Portfolio</h3>
                    </a>
                </div>
            </div>
        </div>

        <!-- Repository Links -->
        <h2>Repository Links:</h2>
        <ul>
            <li>
                <a href="https://github.com/Pendentive/CS-465-FullStackDev/tree/starting-artifact">Starting Artifact</a>
            </li>
            <li>
                <a href="https://github.com/Pendentive/CS-465-FullStackDev/tree/ending-artifact">Ending Artifact</a>
            </li>
            <li>
                <a href="https://codyrcuster.wixsite.com/studiocuster/personal-photography">Reference Migrated Site</a>
            </li>
        </ul>
    </div>
</section>